[user]
	name = ░▒▓█│【Walkman】│█▓▒░
	email = matthewcarter17@gmail.com
	signingkey = 31154DF8
[branch]
	autosetuprebase = always
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
